<!doctype html>
<html lang="en">
  <head>
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{% block extrahead %}       {# Extra Resources Start #}
{% endblock %}

  <title>ЭЛЕГАНТ</title>
  </head>
  <body>
    <div class="container d-flex h-100">
      <div class="row justify-content-center">
        <div>
          <h1> ЭЛЕГАНТ КУПОНЫ</h1>
          {% block main %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>