{% extends 'base.html' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% block main %}
{% load crispy_forms_tags %}
<form method="POST" action="{% url 'coupons:show' %}" id="searchform">
	{% csrf_token %}
    {{ form|crispy }}
    <input class="searchfield" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="ВВЕДИТЕ КОД КУПОНА"/>
  
        <button type="submit" class="btn btn-primary">Проверить</button>
  
</form>
<a href="/coupons/signup" class="btn btn-success">Зарегистрироваться</a>  
{% endblock %}