{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

<div class='card'>
<div class="card-body">
<h2 class="card-title">{{ coup.promotion }} :: {{ coup.code }}</h2>
<p>Клиент: {{ coup.client }}</p>
<p>Телефон: {{ coup.client.phone }}</p>
<p>Email: {{ coup.client.email }}</p>

<form method="POST" action="{% url 'coupons:activate' %}" id="activate">
	{% csrf_token %}
    <input type="hidden" name="q" value="{{ coup.code }}">
    <button type="submit" class="btn btn-primary">Активировать</button>
	<a href="/" class="btn btn-warning">Назад</a>  
</form>
</div>
</div>

{% endblock %}